body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .barcode {
    max-width: 30%; /* Make sure the image doesn't exceed its container's width */
    height: auto;   /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
    margin: 0 auto; /* Center the image horizontally */
    margin-bottom: 10px; /* Add a bit of space between the image and the rest of the content */
  }
  
  .container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #barcode {
    margin-top: 20px;
  }
  